:root {
  --red: #ff0000;
  --blue: #0000FF;
  --green: #00FF00;
  --purple: #FF00FF;
  --orange: #ffbb00;
  --yellow: #FFFF00;
  --pink: #ffa0a0;
}

.team {
  margin: 5%;
  border-radius: 10px;
  background-color: #424242;
  text-align: center;
}

.scores {
  font-size: 8rem;
  font-weight: bold;
}

.team-name {
  font-size: 4rem;
  font-weight: bold;
}

.red {
  color: var(--red);
}

.increment-btn {
  border-radius: 10px;
  padding: 1rem 3rem;
  background-color: #666666;
  width: 50%;
  font-size: 1.5em;
  color: #e6e6e6;
  margin: 0.5em;
}

.brdr.red {
  border: 5px solid var(--red);
}