:root {
  --red: #ff0000;
  --blue: #0000FF;
  --green: #00FF00;
  --purple: #FF00FF;
  --orange: #ffbb00;
  --yellow: #FFFF00;
}

.team {
  margin: 5%;
  border-radius: 10px;
  background-color: #424242;
  text-align: center;
  padding: 0.5rem;
}

.scores {
  font-size: 8rem;
  font-weight: bold;
}

.team-name {
  font-size: 1.25em;
  font-weight: bold;
}

.add-team {
  border: 5px solid black;
  font-weight: bold;
  font-size: 2em;
  margin-top: 1em;
}

.red {
  color: var(--red);
}

.blue {
  color: var(--blue);
}

.green {
  color: var(--green);
}

.purple {
  color: var(--purple);
}

.orange {
  color: var(--orange);
}

.yellow {
  color: var(--yellow);
}

.increment-btn {
  border-radius: 10px;
  padding: 1rem 3rem;
  background-color: #666666;
  width: 50%;
  font-size: 1.5em;
  color: #e6e6e6;
  margin: 0.5rem;
}

.brdr.red {
  border: 5px solid var(--red);
}

.brdr.blue {
  border: 5px solid var(--blue);
}

.brdr.green {
  border: 5px solid var(--green)
}

.brdr.purple {
  border: 5px solid var(--purple)
}

.brdr.orange {
  border: 5px solid var(--orange)
}

.brdr.yellow {
  border: 5px solid var(--yellow)
}